---
import AsciiHero from '../components/AsciiHero.astro';
import '../styles/global.css';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio | high technology low fidelity</title>
	</head>
	<body>
		<main>
			<AsciiHero />
		</main>
	</body>
</html>

<style>
	main {
		width: 100%;
		height: 100vh;
	}
</style>
